{% extends 'blog/base.html' %}
{% block content %}

  <main id="main">
    <section id="contact" class="contact mb-5">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title">Contact us</h1>
          </div>
        </div>
         {% if messages %}
               
                  {% for message in messages %}
                  {% if message.tags %} {{ message.tags }}"{% endif %}>{{ message }}
                  {% endfor %}
                
        {% endif %}
        <div class="row gy-4">

          <div class="col-md-4">
            <div class="info-item">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>Mandera, Kenya</address>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-4">
            <div class="info-item info-item-borders">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+2547000000000">+254700000000</a></p>
            </div>
          </div><!-- End Info Item -->

     <div class="col-md-4">
            <div class="info-item">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@kaskazini.com</a></p>
            </div>
          </div><!-- End Info Item --> 

     
     <div class="form mt-5">
       <form method="post">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit" class="btn btn-primary">Send</button>
        </form>  
        </div>

      </div>
    </section>

  </main><!-- End #main -->
  
  {% endblock content%}